.card-slider-container {
  position: relative;
  overflow: hidden;
}

button {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#prevBtn {
  left: 0;
}

#nextBtn {
  right: 0;
}


.card-slider {
  display: flex;
  transition: transform 0.3s ease-in-out;
  overflow: hidden; /* Make sure to hide overflow */
  width: 100%; /* Ensure the slider container takes up the full width */
}

.card {
  flex: 0 0 100%;
  transition: transform 0.3s ease-in-out;
}

.card.active {
  transform: translateX(calc(-100% * var(--card-index)));
}
