body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Orbitron'
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'Orbitron';
  src: local('Orbitron'), url(../public/fonts/Orbitron/Orbitron-VariableFont_wght.ttf) format('truetype');
}

@font-face {
  font-family: 'Orbitron';
  font-weight: 700;
  src: local('Orbitron'), url(../public/fonts/Orbitron/static/Orbitron-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Orbitron';
  font-weight: 500;
  src: local('Orbitron'), url(../public/fonts/Orbitron/static/Orbitron-Regular.ttf) format('truetype');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
