# Node.js & npm
node_modules/
.pnp/
.pnp.js
.cache/
.env

# Compiled Output
build/
dist/
out/
.next/

# Logs
logs/
*.log

# Dependency files
package-lock.json
yarn.lock

# IDE-specific files
.vscode/
.idea/

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# macOS
.DS_Store

# Windows
Thumbs.db

# Custom exceptions or other project-specific ignores
# example.txt
