.background {
  background-image: url("https://images6.alphacoders.com/132/1322318.jpeg");
  background-size: cover;
  background-position: center;
  opacity: 0.4;
  position:relative;
  bottom: 0;
  width: 100%; /* Adjust width as needed */
  height: 100vh;
  mask-image: linear-gradient(to bottom, transparent 20%, #0b017d);

}
