.planet-container {
    position: relative;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    color: #E3E3E3;
    font-family: 'Urbanist', sans-serif;
  }
  .planet-page {
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .void {
    margin-top: 90%;
  }
  .planet-heading {
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 24px;
    text-align: left;
    text-transform: uppercase;
    color: #E3E3E3;
  }

  .planet-dis-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-left: 100%;
    /* Add any other styles you want for the container */
  }
  .planet-review-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-left: 130%;
    /* Add any other styles you want for the container */
  }
  
  .planet-dis-Scrolling {
    max-width: 90vw;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    /* Add any other styles you want for the scrolling container */
  }
  .planet-review-card {
    width: 300px;
    height: 70vw;
    min-width: 50px; /* Set a minimum width for each card */ /* Set the desired height for the cards */ /* Example background color */
    margin-right: 20px; /* Add margin between cards */
    flex-shrink: 0; /* Prevent cards from shrinking */
    /* Add any other styles you want for the cards */
  }
  .planet-dis-card {
    width: 230px;
    height: 90vw;
    min-width: 50px; /* Set a minimum width for each card */ /* Set the desired height for the cards */ /* Example background color */
    margin-right: 1px; /* Add margin between cards */
    flex-shrink: 0; /* Prevent cards from shrinking */
    /* Add any other styles you want for the cards */
  }
  .planet-sub-heading {
    font-family: 'Urbanist', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    text-align:left;
    color: #E3E3E3;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .planet-sub-title {
    margin-top: 5%;
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #E3E3E3;
  }