/* .enter-details {
    position: relative;
    width: 80%;
    max-width: 457px;
    margin: 0 auto;
    padding: 20px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 60px;
    color: #E3E3E3;
    font-family: 'Urbanist', sans-serif;
  } */
  .booking-page {
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .void {
    margin-top: 90%;
  }
  .home-heading {
    top:50%;
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #E3E3E3;
  }

  .discontainer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-left: 100%;
    /* Add any other styles you want for the container */
  }
  
  .disScrolling {
    max-width: 90vw;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    /* Add any other styles you want for the scrolling container */
  }
  
  .discard {
    width: 230px;
    height: 90vw;
    min-width: 50px; /* Set a minimum width for each card */ /* Set the desired height for the cards */ /* Example background color */
    margin-right: 1px; /* Add margin between cards */
    flex-shrink: 0; /* Prevent cards from shrinking */
    /* Add any other styles you want for the cards */
  }
  .booking-sub-heading {
    top:50%;
    font-family: 'Urbanist', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    text-align:left;
    text-transform: uppercase;
    color: #E3E3E3;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .booking-sub-title {
    top:50%;
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #E3E3E3;
  }