.enter-payment-details {
    position: relative;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 60px;
    color: #E3E3E3;
    font-family: 'Urbanist', sans-serif;
    
  }
  
.passenger-details-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    font-weight: 500px;
    margin-bottom: 16px;
    text-align: left;
  }
  
.pay-label {
    font-weight: 500px;
    display: block;
    margin-bottom: 4px;
  }
  
  .pay-input[type="text"],
  .pay-input[type="date"] {
    font-weight: 500px;
    width: 100%;
    padding: 8px;
    border: none; /* Remove the border */
    border-bottom: 1px solid #CB559E; /* Add a bottom border */
    font-size: 14px;
    color :#E3E3E3;
    appearance: none; /* Remove default arrow on some browsers */
    background-color: transparent; /* Transparent background to show border */
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 16px; /* Adjust the size of the arrow icon */
    -webkit-appearance: none; /* Remove default arrow on Webkit browsers */
    -moz-appearance: none; /* Remove default arrow on Firefox */
  }

  

  