/* Tour Review Card */
.tour-review-card {
  position: relative;
  width: 75%; /* Adjust as needed */
  padding: 20px; /* Adjust padding as needed */
  background: rgba(0, 0, 0, 0.214);
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; /* Spacing between content and avatar */
}

.tour-review-content {
  width: 100%;
  margin-bottom: 15px; /* Spacing between content and avatar */
}

.review-text {
  font-family: 'Urbanist';
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #E3E3E3;
  text-align: center;
}

.star-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px; /* Spacing between text and star rating */
}

.star-rating i {
  font-size: 18px;
  color: #CB559E;
  margin: 0 2px; /* Adjust spacing between stars */
}

.avatar {
  width: 56px; /* Adjust size as needed */
  height: 54px; /* Adjust size as needed */
  background-color: #cb559eeb; /* Background color for avatar circle */
  border-radius: 50%;
  /* Add any additional styling for the avatar image here */
}
