.profile-page-mobile {
  background-color: #270a47;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.profile-page-mobile .div {
  background-color: var(--background-color);
  border: 1px none;
  height: 2284px;
  overflow: hidden;
  position: relative;
  width: 430px;
}

.profile-page-mobile .text-wrapper {
  color: #ffffff;
  font-family: var(--heading-1-mobile-font-family);
  font-size: var(--heading-1-mobile-font-size);
  font-style: var(--heading-1-mobile-font-style);
  font-weight: var(--heading-1-mobile-font-weight);
  height: 40px;
  left: 109px;
  letter-spacing: var(--heading-1-mobile-letter-spacing);
  line-height: var(--heading-1-mobile-line-height);
  position: absolute;
  top: 750px;
  white-space: nowrap;
  width: 212px;
}

.profile-page-mobile .overlap {
  height: 1463px;
  left: 0;
  position: absolute;
  top: 821px;
  width: 646px;
}

.profile-page-mobile .text-wrapper-2 {
  color: #ffffff;
  font-family: var(--heading-1-mobile-font-family);
  font-size: var(--heading-1-mobile-font-size);
  font-style: var(--heading-1-mobile-font-style);
  font-weight: var(--heading-1-mobile-font-weight);
  height: 40px;
  left: 117px;
  letter-spacing: var(--heading-1-mobile-letter-spacing);
  line-height: var(--heading-1-mobile-line-height);
  position: absolute;
  top: 405px;
  white-space: nowrap;
  width: 197px;
}

.profile-page-mobile .card {
  height: 357px;
  left: 14px;
  position: absolute;
  top: 5px;
  width: 632px;
}

.profile-page-mobile .overlap-group {
  height: 357px;
  left: 0;
  position: absolute;
  top: 0;
  width: 328px;
}

.profile-page-mobile .rectangle {
  background-color: #00000080;
  height: 357px;
  left: 4px;
  position: absolute;
  top: 0;
  width: 320px;
}

.profile-page-mobile .text-wrapper-3 {
  color: #ffffff;
  font-family: var(--paragraph-2-mobile-font-family);
  font-size: var(--paragraph-2-mobile-font-size);
  font-style: var(--paragraph-2-mobile-font-style);
  font-weight: var(--paragraph-2-mobile-font-weight);
  height: 17px;
  left: 124px;
  letter-spacing: var(--paragraph-2-mobile-letter-spacing);
  line-height: var(--paragraph-2-mobile-line-height);
  position: absolute;
  text-align: center;
  top: 220px;
  white-space: nowrap;
  width: 79px;
}

.profile-page-mobile .virendra-chronicles {
  color: #ffffff;
  font-family: var(--paragraph-3-mobile-font-family);
  font-size: var(--paragraph-3-mobile-font-size);
  font-style: var(--paragraph-3-mobile-font-style);
  font-weight: var(--paragraph-3-mobile-font-weight);
  height: 66px;
  left: 0;
  letter-spacing: var(--paragraph-3-mobile-letter-spacing);
  line-height: var(--paragraph-3-mobile-line-height);
  position: absolute;
  text-align: center;
  top: 229px;
  width: 328px;
}

.profile-page-mobile .p {
  color: #ffffff;
  font-family: var(--paragraph-1-mobile-font-family);
  font-size: var(--paragraph-1-mobile-font-size);
  font-style: var(--paragraph-1-mobile-font-style);
  font-weight: var(--paragraph-1-mobile-font-weight);
  height: 66px;
  left: 27px;
  letter-spacing: var(--paragraph-1-mobile-letter-spacing);
  line-height: var(--paragraph-1-mobile-line-height);
  position: absolute;
  text-align: center;
  top: 284px;
  width: 291px;
}

.profile-page-mobile .mask-group {
  height: 220px;
  left: 4px;
  position: absolute;
  top: 0;
  width: 320px;
}

.profile-page-mobile .text-wrapper-4 {
  color: #ffffff;
  font-family: var(--heading-2-mobile-font-family);
  font-size: var(--heading-2-mobile-font-size);
  font-style: var(--heading-2-mobile-font-style);
  font-weight: var(--heading-2-mobile-font-weight);
  height: 35px;
  left: 89px;
  letter-spacing: var(--heading-2-mobile-letter-spacing);
  line-height: var(--heading-2-mobile-line-height);
  position: absolute;
  text-align: center;
  text-shadow: 0px 0px 14px #cb559e;
  top: 179px;
  white-space: nowrap;
  width: 146px;
}

.profile-page-mobile .text-wrapper-5 {
  color: #ffffff;
  font-family: var(--heading-2-font-family);
  font-size: var(--heading-2-font-size);
  font-style: var(--heading-2-font-style);
  font-weight: var(--heading-2-font-weight);
  height: 35px;
  left: 554px;
  letter-spacing: var(--heading-2-letter-spacing);
  line-height: var(--heading-2-line-height);
  position: absolute;
  text-align: center;
  text-shadow: 0px 0px 14px #cb559e;
  top: 176px;
  white-space: nowrap;
  width: 67px;
}

.profile-page-mobile .img {
  height: 362px;
  left: 357px;
  position: absolute;
  top: 0;
  width: 73px;
}

.profile-page-mobile .calendar {
  height: 294px;
  left: 62px;
  position: absolute;
  top: 507px;
  width: 280px;
}

.profile-page-mobile .overlap-2 {
  height: 294px;
  position: relative;
  width: 354px;
}

.profile-page-mobile .rectangle-2 {
  background-color: var(--text-primary);
  border-radius: 19px;
  height: 294px;
  left: 0;
  opacity: 0.3;
  position: absolute;
  top: 0;
  width: 276px;
}

.profile-page-mobile .text-wrapper-6 {
  color: #000000;
  font-family: var(--paragraph-3-mobile-font-family);
  font-size: var(--paragraph-3-mobile-font-size);
  font-style: var(--paragraph-3-mobile-font-style);
  font-weight: var(--paragraph-3-mobile-font-weight);
  height: 42px;
  left: 72px;
  letter-spacing: var(--paragraph-3-mobile-letter-spacing);
  line-height: var(--paragraph-3-mobile-line-height);
  position: absolute;
  top: 0;
  width: 186px;
}

.profile-page-mobile .ellipse {
  background-color: var(--primary-active);
  border-radius: 14px;
  height: 28px;
  left: 127px;
  position: absolute;
  top: 165px;
  width: 28px;
}

.profile-page-mobile .numbers-weekdays {
  height: 233px;
  left: 18px;
  position: absolute;
  top: 42px;
  width: 336px;
}

.profile-page-mobile .overlap-group-2 {
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 78px;
}

.profile-page-mobile .text-wrapper-7 {
  color: var(--text-primary);
  font-family: var(--button-mobile-font-family);
  font-size: var(--button-mobile-font-size);
  font-style: var(--button-mobile-font-style);
  font-weight: var(--button-mobile-font-weight);
  height: 28px;
  left: 0;
  letter-spacing: var(--button-mobile-letter-spacing);
  line-height: var(--button-mobile-line-height);
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 51px;
}

.profile-page-mobile .text-wrapper-8 {
  color: var(--text-primary);
  font-family: var(--button-mobile-font-family);
  font-size: var(--button-mobile-font-size);
  font-style: var(--button-mobile-font-style);
  font-weight: var(--button-mobile-font-weight);
  height: 28px;
  left: 39px;
  letter-spacing: var(--button-mobile-letter-spacing);
  line-height: var(--button-mobile-line-height);
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 39px;
}

.profile-page-mobile .text-wrapper-9 {
  color: var(--text-primary);
  font-family: var(--button-mobile-font-family);
  font-size: var(--button-mobile-font-size);
  font-style: var(--button-mobile-font-style);
  font-weight: var(--button-mobile-font-weight);
  height: 28px;
  left: 0;
  letter-spacing: var(--button-mobile-letter-spacing);
  line-height: var(--button-mobile-line-height);
  position: absolute;
  top: 82px;
  white-space: nowrap;
  width: 20px;
}

.profile-page-mobile .text-wrapper-10 {
  color: var(--text-primary);
  font-family: var(--button-mobile-font-family);
  font-size: var(--button-mobile-font-size);
  font-style: var(--button-mobile-font-style);
  font-weight: var(--button-mobile-font-weight);
  height: 28px;
  left: 0;
  letter-spacing: var(--button-mobile-letter-spacing);
  line-height: var(--button-mobile-line-height);
  position: absolute;
  top: 123px;
  white-space: nowrap;
  width: 30px;
}

.profile-page-mobile .text-wrapper-11 {
  color: var(--text-primary);
  font-family: var(--button-mobile-font-family);
  font-size: var(--button-mobile-font-size);
  font-style: var(--button-mobile-font-style);
  font-weight: var(--button-mobile-font-weight);
  height: 28px;
  left: 0;
  letter-spacing: var(--button-mobile-letter-spacing);
  line-height: var(--button-mobile-line-height);
  position: absolute;
  top: 164px;
  white-space: nowrap;
  width: 30px;
}

.profile-page-mobile .text-wrapper-12 {
  color: var(--text-primary);
  font-family: var(--button-mobile-font-family);
  font-size: var(--button-mobile-font-size);
  font-style: var(--button-mobile-font-style);
  font-weight: var(--button-mobile-font-weight);
  height: 27px;
  left: 0;
  letter-spacing: var(--button-mobile-letter-spacing);
  line-height: var(--button-mobile-line-height);
  position: absolute;
  top: 206px;
  white-space: nowrap;
  width: 39px;
}

.profile-page-mobile .overlap-group-3 {
  height: 28px;
  left: 78px;
  position: absolute;
  top: 0;
  width: 182px;
}

.profile-page-mobile .text-wrapper-13 {
  color: var(--text-primary);
  font-family: var(--button-mobile-font-family);
  font-size: var(--button-mobile-font-size);
  font-style: var(--button-mobile-font-style);
  font-weight: var(--button-mobile-font-weight);
  height: 28px;
  left: 78px;
  letter-spacing: var(--button-mobile-letter-spacing);
  line-height: var(--button-mobile-line-height);
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 30px;
}

.profile-page-mobile .text-wrapper-14 {
  color: var(--text-primary);
  font-family: var(--button-mobile-font-family);
  font-size: var(--button-mobile-font-size);
  font-style: var(--button-mobile-font-style);
  font-weight: var(--button-mobile-font-weight);
  height: 28px;
  left: 107px;
  letter-spacing: var(--button-mobile-letter-spacing);
  line-height: var(--button-mobile-line-height);
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 42px;
}

.profile-page-mobile .text-wrapper-15 {
  color: var(--text-primary);
  font-family: var(--button-mobile-font-family);
  font-size: var(--button-mobile-font-size);
  font-style: var(--button-mobile-font-style);
  font-weight: var(--button-mobile-font-weight);
  height: 28px;
  left: 0;
  letter-spacing: var(--button-mobile-letter-spacing);
  line-height: var(--button-mobile-line-height);
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 49px;
}

.profile-page-mobile .text-wrapper-16 {
  color: var(--text-primary);
  font-family: var(--button-mobile-font-family);
  font-size: var(--button-mobile-font-size);
  font-style: var(--button-mobile-font-style);
  font-weight: var(--button-mobile-font-weight);
  height: 28px;
  left: 141px;
  letter-spacing: var(--button-mobile-letter-spacing);
  line-height: var(--button-mobile-line-height);
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 41px;
}

.profile-page-mobile .text-wrapper-17 {
  color: var(--text-primary);
  font-family: var(--button-mobile-font-family);
  font-size: var(--button-mobile-font-size);
  font-style: var(--button-mobile-font-style);
  font-weight: var(--button-mobile-font-weight);
  height: 28px;
  left: 38px;
  letter-spacing: var(--button-mobile-letter-spacing);
  line-height: var(--button-mobile-line-height);
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 42px;
}

.profile-page-mobile .text-wrapper-18 {
  color: var(--text-primary);
  font-family: var(--button-mobile-font-family);
  font-size: var(--button-mobile-font-size);
  font-style: var(--button-mobile-font-style);
  font-weight: var(--button-mobile-font-weight);
  height: 28px;
  left: 156px;
  letter-spacing: var(--button-mobile-letter-spacing);
  line-height: var(--button-mobile-line-height);
  position: absolute;
  top: 41px;
  white-space: nowrap;
  width: 20px;
}

.profile-page-mobile .text-wrapper-19 {
  color: var(--text-primary);
  font-family: var(--button-mobile-font-family);
  font-size: var(--button-mobile-font-size);
  font-style: var(--button-mobile-font-style);
  font-weight: var(--button-mobile-font-weight);
  height: 28px;
  left: 156px;
  letter-spacing: var(--button-mobile-letter-spacing);
  line-height: var(--button-mobile-line-height);
  position: absolute;
  top: 82px;
  white-space: nowrap;
  width: 19px;
}

.profile-page-mobile .text-wrapper-20 {
  color: var(--text-primary);
  font-family: var(--button-mobile-font-family);
  font-size: var(--button-mobile-font-size);
  font-style: var(--button-mobile-font-style);
  font-weight: var(--button-mobile-font-weight);
  height: 28px;
  left: 156px;
  letter-spacing: var(--button-mobile-letter-spacing);
  line-height: var(--button-mobile-line-height);
  position: absolute;
  top: 123px;
  white-space: nowrap;
  width: 28px;
}

.profile-page-mobile .overlap-3 {
  height: 28px;
  left: 156px;
  position: absolute;
  top: 164px;
  width: 102px;
}

.profile-page-mobile .text-wrapper-21 {
  color: var(--text-primary);
  font-family: var(--button-mobile-font-family);
  font-size: var(--button-mobile-font-size);
  font-style: var(--button-mobile-font-style);
  font-weight: var(--button-mobile-font-weight);
  height: 28px;
  left: 0;
  letter-spacing: var(--button-mobile-letter-spacing);
  line-height: var(--button-mobile-line-height);
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 39px;
}

.profile-page-mobile .text-wrapper-22 {
  color: var(--text-primary);
  font-family: var(--button-mobile-font-family);
  font-size: var(--button-mobile-font-size);
  font-style: var(--button-mobile-font-style);
  font-weight: var(--button-mobile-font-weight);
  height: 28px;
  left: 29px;
  letter-spacing: var(--button-mobile-letter-spacing);
  line-height: var(--button-mobile-line-height);
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 39px;
}

.profile-page-mobile .text-wrapper-23 {
  color: var(--text-primary);
  font-family: var(--button-mobile-font-family);
  font-size: var(--button-mobile-font-size);
  font-style: var(--button-mobile-font-style);
  font-weight: var(--button-mobile-font-weight);
  height: 28px;
  left: 63px;
  letter-spacing: var(--button-mobile-letter-spacing);
  line-height: var(--button-mobile-line-height);
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 39px;
}

.profile-page-mobile .text-wrapper-24 {
  color: var(--text-primary);
  font-family: var(--button-mobile-font-family);
  font-size: var(--button-mobile-font-size);
  font-style: var(--button-mobile-font-style);
  font-weight: var(--button-mobile-font-weight);
  height: 28px;
  left: 39px;
  letter-spacing: var(--button-mobile-letter-spacing);
  line-height: var(--button-mobile-line-height);
  position: absolute;
  top: 41px;
  white-space: nowrap;
  width: 10px;
}

.profile-page-mobile .text-wrapper-25 {
  color: var(--text-primary);
  font-family: var(--button-mobile-font-family);
  font-size: var(--button-mobile-font-size);
  font-style: var(--button-mobile-font-style);
  font-weight: var(--button-mobile-font-weight);
  height: 28px;
  left: 39px;
  letter-spacing: var(--button-mobile-letter-spacing);
  line-height: var(--button-mobile-line-height);
  position: absolute;
  top: 82px;
  white-space: nowrap;
  width: 20px;
}

.profile-page-mobile .text-wrapper-26 {
  color: var(--text-primary);
  font-family: var(--button-mobile-font-family);
  font-size: var(--button-mobile-font-size);
  font-style: var(--button-mobile-font-style);
  font-weight: var(--button-mobile-font-weight);
  height: 28px;
  left: 39px;
  letter-spacing: var(--button-mobile-letter-spacing);
  line-height: var(--button-mobile-line-height);
  position: absolute;
  top: 123px;
  white-space: nowrap;
  width: 30px;
}

.profile-page-mobile .overlap-4 {
  height: 28px;
  left: 39px;
  position: absolute;
  top: 164px;
  width: 77px;
}

.profile-page-mobile .text-wrapper-27 {
  color: var(--text-primary);
  font-family: var(--button-mobile-font-family);
  font-size: var(--button-mobile-font-size);
  font-style: var(--button-mobile-font-style);
  font-weight: var(--button-mobile-font-weight);
  height: 28px;
  left: 0;
  letter-spacing: var(--button-mobile-letter-spacing);
  line-height: var(--button-mobile-line-height);
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 40px;
}

.profile-page-mobile .text-wrapper-28 {
  color: var(--text-primary);
  font-family: var(--button-mobile-font-family);
  font-size: var(--button-mobile-font-size);
  font-style: var(--button-mobile-font-style);
  font-weight: var(--button-mobile-font-weight);
  height: 28px;
  left: 39px;
  letter-spacing: var(--button-mobile-letter-spacing);
  line-height: var(--button-mobile-line-height);
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 38px;
}

.profile-page-mobile .text-wrapper-29 {
  color: var(--text-primary);
  font-family: var(--button-mobile-font-family);
  font-size: var(--button-mobile-font-size);
  font-style: var(--button-mobile-font-style);
  font-weight: var(--button-mobile-font-weight);
  height: 27px;
  left: 39px;
  letter-spacing: var(--button-mobile-letter-spacing);
  line-height: var(--button-mobile-line-height);
  position: absolute;
  top: 206px;
  white-space: nowrap;
  width: 39px;
}

.profile-page-mobile .text-wrapper-30 {
  color: var(--text-primary);
  font-family: var(--button-mobile-font-family);
  font-size: var(--button-mobile-font-size);
  font-style: var(--button-mobile-font-style);
  font-weight: var(--button-mobile-font-weight);
  height: 28px;
  left: 185px;
  letter-spacing: var(--button-mobile-letter-spacing);
  line-height: var(--button-mobile-line-height);
  position: absolute;
  top: 41px;
  white-space: nowrap;
  width: 20px;
}

.profile-page-mobile .text-wrapper-31 {
  color: var(--text-primary);
  font-family: var(--button-mobile-font-family);
  font-size: var(--button-mobile-font-size);
  font-style: var(--button-mobile-font-style);
  font-weight: var(--button-mobile-font-weight);
  height: 28px;
  left: 185px;
  letter-spacing: var(--button-mobile-letter-spacing);
  line-height: var(--button-mobile-line-height);
  position: absolute;
  top: 82px;
  white-space: nowrap;
  width: 29px;
}

.profile-page-mobile .text-wrapper-32 {
  color: var(--text-primary);
  font-family: var(--button-mobile-font-family);
  font-size: var(--button-mobile-font-size);
  font-style: var(--button-mobile-font-style);
  font-weight: var(--button-mobile-font-weight);
  height: 28px;
  left: 185px;
  letter-spacing: var(--button-mobile-letter-spacing);
  line-height: var(--button-mobile-line-height);
  position: absolute;
  top: 123px;
  white-space: nowrap;
  width: 28px;
}

.profile-page-mobile .text-wrapper-33 {
  color: var(--text-primary);
  font-family: var(--button-mobile-font-family);
  font-size: var(--button-mobile-font-size);
  font-style: var(--button-mobile-font-style);
  font-weight: var(--button-mobile-font-weight);
  height: 28px;
  left: 78px;
  letter-spacing: var(--button-mobile-letter-spacing);
  line-height: var(--button-mobile-line-height);
  position: absolute;
  top: 41px;
  white-space: nowrap;
  width: 20px;
}

.profile-page-mobile .text-wrapper-34 {
  color: var(--text-primary);
  font-family: var(--button-mobile-font-family);
  font-size: var(--button-mobile-font-size);
  font-style: var(--button-mobile-font-style);
  font-weight: var(--button-mobile-font-weight);
  height: 28px;
  left: 78px;
  letter-spacing: var(--button-mobile-letter-spacing);
  line-height: var(--button-mobile-line-height);
  position: absolute;
  top: 82px;
  white-space: nowrap;
  width: 20px;
}

.profile-page-mobile .text-wrapper-35 {
  color: var(--text-primary);
  font-family: var(--button-mobile-font-family);
  font-size: var(--button-mobile-font-size);
  font-style: var(--button-mobile-font-style);
  font-weight: var(--button-mobile-font-weight);
  height: 28px;
  left: 78px;
  letter-spacing: var(--button-mobile-letter-spacing);
  line-height: var(--button-mobile-line-height);
  position: absolute;
  top: 123px;
  white-space: nowrap;
  width: 29px;
}

.profile-page-mobile .overlap-5 {
  height: 27px;
  left: 78px;
  position: absolute;
  top: 206px;
  width: 66px;
}

.profile-page-mobile .text-wrapper-36 {
  color: var(--text-primary);
  font-family: var(--button-mobile-font-family);
  font-size: var(--button-mobile-font-size);
  font-style: var(--button-mobile-font-style);
  font-weight: var(--button-mobile-font-weight);
  height: 27px;
  left: 0;
  letter-spacing: var(--button-mobile-letter-spacing);
  line-height: var(--button-mobile-line-height);
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 40px;
}

.profile-page-mobile .text-wrapper-37 {
  color: var(--text-primary);
  font-family: var(--button-mobile-font-family);
  font-size: var(--button-mobile-font-size);
  font-style: var(--button-mobile-font-style);
  font-weight: var(--button-mobile-font-weight);
  height: 27px;
  left: 38px;
  letter-spacing: var(--button-mobile-letter-spacing);
  line-height: var(--button-mobile-line-height);
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 28px;
}

.profile-page-mobile .text-wrapper-38 {
  color: var(--text-primary);
  font-family: var(--button-mobile-font-family);
  font-size: var(--button-mobile-font-size);
  font-style: var(--button-mobile-font-style);
  font-weight: var(--button-mobile-font-weight);
  height: 28px;
  left: 219px;
  letter-spacing: var(--button-mobile-letter-spacing);
  line-height: var(--button-mobile-line-height);
  position: absolute;
  top: 41px;
  white-space: nowrap;
  width: 20px;
}

.profile-page-mobile .text-wrapper-39 {
  color: var(--text-primary);
  font-family: var(--button-mobile-font-family);
  font-size: var(--button-mobile-font-size);
  font-style: var(--button-mobile-font-style);
  font-weight: var(--button-mobile-font-weight);
  height: 28px;
  left: 219px;
  letter-spacing: var(--button-mobile-letter-spacing);
  line-height: var(--button-mobile-line-height);
  position: absolute;
  top: 82px;
  white-space: nowrap;
  width: 28px;
}

.profile-page-mobile .text-wrapper-40 {
  color: var(--text-primary);
  font-family: var(--button-mobile-font-family);
  font-size: var(--button-mobile-font-size);
  font-style: var(--button-mobile-font-style);
  font-weight: var(--button-mobile-font-weight);
  height: 28px;
  left: 219px;
  letter-spacing: var(--button-mobile-letter-spacing);
  line-height: var(--button-mobile-line-height);
  position: absolute;
  top: 123px;
  white-space: nowrap;
  width: 41px;
}

.profile-page-mobile .text-wrapper-41 {
  color: var(--text-primary);
  font-family: var(--button-mobile-font-family);
  font-size: var(--button-mobile-font-size);
  font-style: var(--button-mobile-font-style);
  font-weight: var(--button-mobile-font-weight);
  height: 28px;
  left: 116px;
  letter-spacing: var(--button-mobile-letter-spacing);
  line-height: var(--button-mobile-line-height);
  position: absolute;
  top: 41px;
  white-space: nowrap;
  width: 18px;
}

.profile-page-mobile .text-wrapper-42 {
  color: var(--text-primary);
  font-family: var(--button-mobile-font-family);
  font-size: var(--button-mobile-font-size);
  font-style: var(--button-mobile-font-style);
  font-weight: var(--button-mobile-font-weight);
  height: 28px;
  left: 116px;
  letter-spacing: var(--button-mobile-letter-spacing);
  line-height: var(--button-mobile-line-height);
  position: absolute;
  top: 82px;
  white-space: nowrap;
  width: 31px;
}

.profile-page-mobile .text-wrapper-43 {
  color: var(--text-primary);
  font-family: var(--button-mobile-font-family);
  font-size: var(--button-mobile-font-size);
  font-style: var(--button-mobile-font-style);
  font-weight: var(--button-mobile-font-weight);
  height: 28px;
  left: 116px;
  letter-spacing: var(--button-mobile-letter-spacing);
  line-height: var(--button-mobile-line-height);
  position: absolute;
  top: 123px;
  white-space: nowrap;
  width: 29px;
}

.profile-page-mobile .text-wrapper-44 {
  color: var(--text-primary);
  font-family: var(--button-mobile-font-family);
  font-size: var(--button-mobile-font-size);
  font-style: var(--button-mobile-font-style);
  font-weight: var(--button-mobile-font-weight);
  height: 28px;
  left: 116px;
  letter-spacing: var(--button-mobile-letter-spacing);
  line-height: var(--button-mobile-line-height);
  position: absolute;
  top: 164px;
  white-space: nowrap;
  width: 38px;
}

.profile-page-mobile .overlap-wrapper {
  height: 294px;
  left: 358px;
  position: absolute;
  top: 507px;
  width: 280px;
}

.profile-page-mobile .what-s-next {
  height: 310px;
  left: 80px;
  position: absolute;
  top: 853px;
  width: 287px;
}

.profile-page-mobile .overlap-6 {
  background-color: #e3e3e34c;
  border-radius: 22px;
  height: 310px;
  position: relative;
  width: 273px;
}

.profile-page-mobile .text-wrapper-45 {
  color: #000000;
  font-family: var(--heading-3-mobile-font-family);
  font-size: var(--heading-3-mobile-font-size);
  font-style: var(--heading-3-mobile-font-style);
  font-weight: var(--heading-3-mobile-font-weight);
  height: 17px;
  left: 88px;
  letter-spacing: var(--heading-3-mobile-letter-spacing);
  line-height: var(--heading-3-mobile-line-height);
  position: absolute;
  top: 78px;
  white-space: nowrap;
  width: 149px;
}

.profile-page-mobile .text-wrapper-46 {
  color: #ffffff;
  font-family: var(--paragraph-1-mobile-font-family);
  font-size: var(--paragraph-1-mobile-font-size);
  font-style: var(--paragraph-1-mobile-font-style);
  font-weight: var(--paragraph-1-mobile-font-weight);
  height: 16px;
  left: 88px;
  letter-spacing: var(--paragraph-1-mobile-letter-spacing);
  line-height: var(--paragraph-1-mobile-line-height);
  position: absolute;
  top: 109px;
  white-space: nowrap;
  width: 99px;
}

.profile-page-mobile .text-wrapper-47 {
  color: #000000;
  font-family: var(--heading-3-mobile-font-family);
  font-size: var(--heading-3-mobile-font-size);
  font-style: var(--heading-3-mobile-font-style);
  font-weight: var(--heading-3-mobile-font-weight);
  height: 17px;
  left: 88px;
  letter-spacing: var(--heading-3-mobile-letter-spacing);
  line-height: var(--heading-3-mobile-line-height);
  position: absolute;
  top: 155px;
  white-space: nowrap;
  width: 149px;
}

.profile-page-mobile .text-wrapper-48 {
  color: #ffffff;
  font-family: var(--paragraph-1-mobile-font-family);
  font-size: var(--paragraph-1-mobile-font-size);
  font-style: var(--paragraph-1-mobile-font-style);
  font-weight: var(--paragraph-1-mobile-font-weight);
  height: 15px;
  left: 88px;
  letter-spacing: var(--paragraph-1-mobile-letter-spacing);
  line-height: var(--paragraph-1-mobile-line-height);
  position: absolute;
  top: 184px;
  white-space: nowrap;
  width: 99px;
}

.profile-page-mobile .text-wrapper-49 {
  color: #000000;
  font-family: var(--heading-3-mobile-font-family);
  font-size: var(--heading-3-mobile-font-size);
  font-style: var(--heading-3-mobile-font-style);
  font-weight: var(--heading-3-mobile-font-weight);
  height: 17px;
  left: 88px;
  letter-spacing: var(--heading-3-mobile-letter-spacing);
  line-height: var(--heading-3-mobile-line-height);
  position: absolute;
  top: 242px;
  white-space: nowrap;
  width: 149px;
}

.profile-page-mobile .text-wrapper-50 {
  color: #ffffff;
  font-family: var(--paragraph-1-mobile-font-family);
  font-size: var(--paragraph-1-mobile-font-size);
  font-style: var(--paragraph-1-mobile-font-style);
  font-weight: var(--paragraph-1-mobile-font-weight);
  height: 16px;
  left: 88px;
  letter-spacing: var(--paragraph-1-mobile-letter-spacing);
  line-height: var(--paragraph-1-mobile-line-height);
  position: absolute;
  top: 265px;
  white-space: nowrap;
  width: 99px;
}

.profile-page-mobile .text-wrapper-51 {
  color: var(--text-primary);
  font-family: var(--heading-2-mobile-font-family);
  font-size: var(--heading-2-mobile-font-size);
  font-style: var(--heading-2-mobile-font-style);
  font-weight: var(--heading-2-mobile-font-weight);
  height: 38px;
  left: 54px;
  letter-spacing: var(--heading-2-mobile-letter-spacing);
  line-height: var(--heading-2-mobile-line-height);
  position: absolute;
  top: 22px;
  white-space: nowrap;
}

.profile-page-mobile .footer {
  background-color: transparent;
  height: 256px;
  left: 0;
  position: absolute;
  top: 1207px;
  width: 434px;
}

.profile-page-mobile .overlap-7 {
  background-color: #00000080;
  border-radius: 40px 40px 0px 0px;
  height: 256px;
  position: relative;
  width: 430px;
}

.profile-page-mobile .c-ircles {
  height: 25px;
  left: 95px;
  position: absolute;
  top: 178px;
  width: 241px;
}

.profile-page-mobile .ellipse-2 {
  background-color: var(--primary-active);
  border-radius: 13px/12.5px;
  height: 25px;
  left: 172px;
  position: absolute;
  top: 0;
  width: 26px;
}

.profile-page-mobile .ellipse-3 {
  background-color: var(--primary-active);
  border-radius: 13px/12.5px;
  height: 25px;
  left: 215px;
  position: absolute;
  top: 0;
  width: 26px;
}

.profile-page-mobile .ellipse-4 {
  background-color: var(--primary-active);
  border-radius: 13px/12.5px;
  height: 25px;
  left: 129px;
  position: absolute;
  top: 0;
  width: 26px;
}

.profile-page-mobile .ellipse-5 {
  background-color: var(--primary-active);
  border-radius: 13px/12.5px;
  height: 25px;
  left: 43px;
  position: absolute;
  top: 0;
  width: 26px;
}

.profile-page-mobile .ellipse-6 {
  background-color: var(--primary-active);
  border-radius: 13px/12.5px;
  height: 25px;
  left: 86px;
  position: absolute;
  top: 0;
  width: 26px;
}

.profile-page-mobile .ellipse-7 {
  background-color: var(--primary-active);
  border-radius: 13px/12.5px;
  height: 25px;
  left: 0;
  position: absolute;
  top: 0;
  width: 26px;
}

.profile-page-mobile .vector {
  height: 3px;
  left: 50px;
  object-fit: cover;
  position: absolute;
  top: 164px;
  width: 331px;
}

.profile-page-mobile .text-wrapper-52 {
  color: var(--text-primary);
  font-family: var(--heading-3-mobile-font-family);
  font-size: var(--heading-3-mobile-font-size);
  font-style: var(--heading-3-mobile-font-style);
  font-weight: var(--heading-3-mobile-font-weight);
  left: 122px;
  letter-spacing: var(--heading-3-mobile-letter-spacing);
  line-height: var(--heading-3-mobile-line-height);
  position: absolute;
  text-align: center;
  top: 28px;
  white-space: nowrap;
  width: 189px;
}

.profile-page-mobile .texts {
  height: 58px;
  left: 56px;
  position: absolute;
  top: 75px;
  width: 314px;
}

.profile-page-mobile .overlap-group-4 {
  height: 58px;
  left: 0;
  position: absolute;
  top: 0;
  width: 119px;
}

.profile-page-mobile .text-wrapper-53 {
  color: var(--text-primary);
  font-family: var(--paragraph-2-mobile-font-family);
  font-size: var(--paragraph-2-mobile-font-size);
  font-style: var(--paragraph-2-mobile-font-style);
  font-weight: var(--paragraph-2-mobile-font-weight);
  left: 0;
  letter-spacing: var(--paragraph-2-mobile-letter-spacing);
  line-height: var(--paragraph-2-mobile-line-height);
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 119px;
}

.profile-page-mobile .text-wrapper-54 {
  color: var(--text-primary);
  font-family: var(--paragraph-2-mobile-font-family);
  font-size: var(--paragraph-2-mobile-font-size);
  font-style: var(--paragraph-2-mobile-font-style);
  font-weight: var(--paragraph-2-mobile-font-weight);
  left: 14px;
  letter-spacing: var(--paragraph-2-mobile-letter-spacing);
  line-height: var(--paragraph-2-mobile-line-height);
  position: absolute;
  text-align: center;
  top: 18px;
  white-space: nowrap;
  width: 95px;
}

.profile-page-mobile .text-wrapper-55 {
  color: var(--text-primary);
  font-family: var(--paragraph-2-mobile-font-family);
  font-size: var(--paragraph-2-mobile-font-size);
  font-style: var(--paragraph-2-mobile-font-style);
  font-weight: var(--paragraph-2-mobile-font-weight);
  left: 16px;
  letter-spacing: var(--paragraph-2-mobile-letter-spacing);
  line-height: var(--paragraph-2-mobile-line-height);
  position: absolute;
  text-align: center;
  top: 37px;
  white-space: nowrap;
  width: 99px;
}

.profile-page-mobile .overlap-8 {
  height: 58px;
  left: 212px;
  position: absolute;
  top: 0;
  width: 90px;
}

.profile-page-mobile .text-wrapper-56 {
  color: var(--text-primary);
  font-family: var(--paragraph-2-mobile-font-family);
  font-size: var(--paragraph-2-mobile-font-size);
  font-style: var(--paragraph-2-mobile-font-style);
  font-weight: var(--paragraph-2-mobile-font-weight);
  left: 4px;
  letter-spacing: var(--paragraph-2-mobile-letter-spacing);
  line-height: var(--paragraph-2-mobile-line-height);
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 69px;
}

.profile-page-mobile .text-wrapper-57 {
  color: var(--text-primary);
  font-family: var(--paragraph-2-mobile-font-family);
  font-size: var(--paragraph-2-mobile-font-size);
  font-style: var(--paragraph-2-mobile-font-style);
  font-weight: var(--paragraph-2-mobile-font-weight);
  left: 0;
  letter-spacing: var(--paragraph-2-mobile-letter-spacing);
  line-height: var(--paragraph-2-mobile-line-height);
  position: absolute;
  text-align: center;
  top: 18px;
  white-space: nowrap;
  width: 67px;
}

.profile-page-mobile .text-wrapper-58 {
  color: var(--text-primary);
  font-family: var(--paragraph-2-mobile-font-family);
  font-size: var(--paragraph-2-mobile-font-size);
  font-style: var(--paragraph-2-mobile-font-style);
  font-weight: var(--paragraph-2-mobile-font-weight);
  left: 0;
  letter-spacing: var(--paragraph-2-mobile-letter-spacing);
  line-height: var(--paragraph-2-mobile-line-height);
  position: absolute;
  text-align: center;
  top: 37px;
  white-space: nowrap;
  width: 90px;
}

.profile-page-mobile .element-privacy-terms {
  color: var(--text-primary);
  font-family: var(--paragraph-2-mobile-font-family);
  font-size: var(--paragraph-2-mobile-font-size);
  font-style: var(--paragraph-2-mobile-font-style);
  font-weight: var(--paragraph-2-mobile-font-weight);
  left: 119px;
  letter-spacing: var(--paragraph-2-mobile-letter-spacing);
  line-height: var(--paragraph-2-mobile-line-height);
  position: absolute;
  text-align: center;
  top: 212px;
  white-space: nowrap;
  width: 193px;
}

.profile-page-mobile .milky-way {
  height: 1217px;
  left: 0;
  position: absolute;
  top: 246px;
  width: 430px;
}

.profile-page-mobile .overlap-9 {
  background-color: #0000004c;
  border-radius: 40px;
  height: 355px;
  left: 21px;
  position: absolute;
  top: 367px;
  width: 388px;
}

.profile-page-mobile .text-wrapper-59 {
  color: #ffffff;
  font-family: var(--heading-4-mobile-font-family);
  font-size: var(--heading-4-mobile-font-size);
  font-style: var(--heading-4-mobile-font-style);
  font-weight: var(--heading-4-mobile-font-weight);
  height: 24px;
  left: 111px;
  letter-spacing: var(--heading-4-mobile-letter-spacing);
  line-height: var(--heading-4-mobile-line-height);
  position: absolute;
  text-align: center;
  top: 293px;
  width: 37px;
}

.profile-page-mobile .text-wrapper-60 {
  color: #ffffff;
  font-family: var(--heading-4-mobile-font-family);
  font-size: var(--heading-4-mobile-font-size);
  font-style: var(--heading-4-mobile-font-style);
  font-weight: var(--heading-4-mobile-font-weight);
  height: 24px;
  left: 111px;
  letter-spacing: var(--heading-4-mobile-letter-spacing);
  line-height: var(--heading-4-mobile-line-height);
  position: absolute;
  text-align: center;
  top: 242px;
  width: 37px;
}

.profile-page-mobile .text-wrapper-61 {
  color: #ffffff;
  font-family: var(--heading-4-mobile-font-family);
  font-size: var(--heading-4-mobile-font-size);
  font-style: var(--heading-4-mobile-font-style);
  font-weight: var(--heading-4-mobile-font-weight);
  height: 24px;
  left: 111px;
  letter-spacing: var(--heading-4-mobile-letter-spacing);
  line-height: var(--heading-4-mobile-line-height);
  position: absolute;
  text-align: center;
  top: 185px;
  width: 37px;
}

.profile-page-mobile .text-wrapper-62 {
  color: #ffffff;
  font-family: var(--heading-4-mobile-font-family);
  font-size: var(--heading-4-mobile-font-size);
  font-style: var(--heading-4-mobile-font-style);
  font-weight: var(--heading-4-mobile-font-weight);
  height: 24px;
  left: 111px;
  letter-spacing: var(--heading-4-mobile-letter-spacing);
  line-height: var(--heading-4-mobile-line-height);
  position: absolute;
  text-align: center;
  top: 130px;
  width: 37px;
}

.profile-page-mobile .text-wrapper-63 {
  color: #ffffff;
  font-family: var(--heading-4-mobile-font-family);
  font-size: var(--heading-4-mobile-font-size);
  font-style: var(--heading-4-mobile-font-style);
  font-weight: var(--heading-4-mobile-font-weight);
  height: 24px;
  left: 111px;
  letter-spacing: var(--heading-4-mobile-letter-spacing);
  line-height: var(--heading-4-mobile-line-height);
  position: absolute;
  text-align: center;
  top: 70px;
  width: 37px;
}

.profile-page-mobile .basic-details-texts {
  height: 318px;
  left: 18px;
  position: absolute;
  top: 8px;
  width: 366px;
}

.profile-page-mobile .overlap-10 {
  height: 40px;
  left: 2px;
  position: absolute;
  top: 0;
  width: 128px;
}

.profile-page-mobile .text-wrapper-64 {
  color: #ffffff;
  font-family: var(--heading-4-mobile-font-family);
  font-size: var(--heading-4-mobile-font-size);
  font-style: var(--heading-4-mobile-font-style);
  font-weight: var(--heading-4-mobile-font-weight);
  height: 40px;
  left: 0;
  letter-spacing: var(--heading-4-mobile-letter-spacing);
  line-height: var(--heading-4-mobile-line-height);
  position: absolute;
  top: 0;
  width: 110px;
}

.profile-page-mobile .text-wrapper-65 {
  color: #ffffff;
  font-family: var(--heading-4-mobile-font-family);
  font-size: var(--heading-4-mobile-font-size);
  font-style: var(--heading-4-mobile-font-style);
  font-weight: var(--heading-4-mobile-font-weight);
  height: 24px;
  left: 91px;
  letter-spacing: var(--heading-4-mobile-letter-spacing);
  line-height: var(--heading-4-mobile-line-height);
  position: absolute;
  text-align: center;
  top: 7px;
  width: 37px;
}

.profile-page-mobile .text-wrapper-66 {
  color: #ffffff;
  font-family: var(--heading-4-mobile-font-family);
  font-size: var(--heading-4-mobile-font-size);
  font-style: var(--heading-4-mobile-font-style);
  font-weight: var(--heading-4-mobile-font-weight);
  height: 41px;
  left: 0;
  letter-spacing: var(--heading-4-mobile-letter-spacing);
  line-height: var(--heading-4-mobile-line-height);
  position: absolute;
  top: 114px;
  width: 112px;
}

.profile-page-mobile .text-wrapper-67 {
  color: #ffffff;
  font-family: var(--heading-4-mobile-font-family);
  font-size: var(--heading-4-mobile-font-size);
  font-style: var(--heading-4-mobile-font-style);
  font-weight: var(--heading-4-mobile-font-weight);
  height: 40px;
  left: 2px;
  letter-spacing: var(--heading-4-mobile-letter-spacing);
  line-height: var(--heading-4-mobile-line-height);
  position: absolute;
  top: 57px;
  width: 110px;
}

.profile-page-mobile .text-wrapper-68 {
  color: #ffffff;
  font-family: var(--heading-4-mobile-font-family);
  font-size: var(--heading-4-mobile-font-size);
  font-style: var(--heading-4-mobile-font-style);
  font-weight: var(--heading-4-mobile-font-weight);
  height: 40px;
  left: 2px;
  letter-spacing: var(--heading-4-mobile-letter-spacing);
  line-height: var(--heading-4-mobile-line-height);
  position: absolute;
  top: 172px;
  width: 63px;
}

.profile-page-mobile .text-wrapper-69 {
  color: #ffffff;
  font-family: var(--heading-4-mobile-font-family);
  font-size: var(--heading-4-mobile-font-size);
  font-style: var(--heading-4-mobile-font-style);
  font-weight: var(--heading-4-mobile-font-weight);
  height: 40px;
  left: 2px;
  letter-spacing: var(--heading-4-mobile-letter-spacing);
  line-height: var(--heading-4-mobile-line-height);
  position: absolute;
  top: 229px;
  width: 81px;
}

.profile-page-mobile .text-wrapper-70 {
  color: #ffffff;
  font-family: var(--heading-4-mobile-font-family);
  font-size: var(--heading-4-mobile-font-size);
  font-style: var(--heading-4-mobile-font-style);
  font-weight: var(--heading-4-mobile-font-weight);
  height: 40px;
  left: 2px;
  letter-spacing: var(--heading-4-mobile-letter-spacing);
  line-height: var(--heading-4-mobile-line-height);
  position: absolute;
  top: 278px;
  width: 64px;
}

.profile-page-mobile .text-wrapper-71 {
  color: #ffffff;
  font-family: var(--paragraph-1-mobile-font-family);
  font-size: var(--paragraph-1-mobile-font-size);
  font-style: var(--paragraph-1-mobile-font-style);
  font-weight: var(--paragraph-1-mobile-font-weight);
  height: 28px;
  left: 145px;
  letter-spacing: var(--paragraph-1-mobile-letter-spacing);
  line-height: var(--paragraph-1-mobile-line-height);
  position: absolute;
  top: 6px;
  white-space: nowrap;
  width: 67px;
}

.profile-page-mobile .text-wrapper-72 {
  color: #ffffff;
  font-family: var(--paragraph-1-mobile-font-family);
  font-size: var(--paragraph-1-mobile-font-size);
  font-style: var(--paragraph-1-mobile-font-style);
  font-weight: var(--paragraph-1-mobile-font-weight);
  height: 29px;
  left: 145px;
  letter-spacing: var(--paragraph-1-mobile-letter-spacing);
  line-height: var(--paragraph-1-mobile-line-height);
  position: absolute;
  top: 120px;
  white-space: nowrap;
  width: 195px;
}

.profile-page-mobile .text-wrapper-73 {
  color: #ffffff;
  font-family: var(--paragraph-1-mobile-font-family);
  font-size: var(--paragraph-1-mobile-font-size);
  font-style: var(--paragraph-1-mobile-font-style);
  font-weight: var(--paragraph-1-mobile-font-weight);
  height: 28px;
  left: 145px;
  letter-spacing: var(--paragraph-1-mobile-letter-spacing);
  line-height: var(--paragraph-1-mobile-line-height);
  position: absolute;
  top: 63px;
  white-space: nowrap;
  width: 112px;
}

.profile-page-mobile .text-wrapper-74 {
  color: #ffffff;
  font-family: var(--paragraph-1-mobile-font-family);
  font-size: var(--paragraph-1-mobile-font-size);
  font-style: var(--paragraph-1-mobile-font-style);
  font-weight: var(--paragraph-1-mobile-font-weight);
  height: 28px;
  left: 145px;
  letter-spacing: var(--paragraph-1-mobile-letter-spacing);
  line-height: var(--paragraph-1-mobile-line-height);
  position: absolute;
  top: 178px;
  white-space: nowrap;
  width: 105px;
}

.profile-page-mobile .text-wrapper-75 {
  color: #ffffff;
  font-family: var(--paragraph-1-mobile-font-family);
  font-size: var(--paragraph-1-mobile-font-size);
  font-style: var(--paragraph-1-mobile-font-style);
  font-weight: var(--paragraph-1-mobile-font-weight);
  height: 29px;
  left: 145px;
  letter-spacing: var(--paragraph-1-mobile-letter-spacing);
  line-height: var(--paragraph-1-mobile-line-height);
  position: absolute;
  top: 234px;
  white-space: nowrap;
  width: 86px;
}

.profile-page-mobile .text-wrapper-76 {
  color: #ffffff;
  font-family: var(--paragraph-1-mobile-font-family);
  font-size: var(--paragraph-1-mobile-font-size);
  font-style: var(--paragraph-1-mobile-font-style);
  font-weight: var(--paragraph-1-mobile-font-weight);
  height: 28px;
  left: 145px;
  letter-spacing: var(--paragraph-1-mobile-letter-spacing);
  line-height: var(--paragraph-1-mobile-line-height);
  position: absolute;
  top: 284px;
  white-space: nowrap;
  width: 182px;
}

.profile-page-mobile .overlap-11 {
  height: 353px;
  left: -88px;
  position: absolute;
  top: 0;
  width: 663px;
}

.profile-page-mobile .upper-image {
  height: 346px;
  left: 0;
  position: absolute;
  top: 0;
  width: 663px;
}

.profile-page-mobile .overlap-12 {
  height: 646px;
  left: 88px;
  position: relative;
  width: 430px;
}

.profile-page-mobile .javier-miranda {
  height: 288px;
  left: 0;
  position: absolute;
  top: 0;
  width: 430px;
}

.profile-page-mobile .rectangle-3 {
  height: 646px;
  left: 0;
  position: absolute;
  top: 0;
  width: 430px;
}

.profile-page-mobile .center-box {
  background: linear-gradient(180deg, rgba(38, 10, 70, 0) 0%, rgb(38, 9, 71) 100%);
  height: 153px;
  left: 88px;
  position: absolute;
  top: 149px;
  width: 430px;
}

.profile-page-mobile .gavigation-bar {
  height: 70px;
  left: 88px;
  position: absolute;
  top: 0;
  width: 432px;
}

.profile-page-mobile .overlap-13 {
  background-color: #00000066;
  border-radius: 20px;
  height: 70px;
  position: relative;
  width: 430px;
}

.profile-page-mobile .overlap-group-5 {
  height: 34px;
  left: 75px;
  position: absolute;
  top: 19px;
  width: 237px;
}

.profile-page-mobile .text-wrapper-77 {
  color: var(--text-primary);
  font-family: var(--heading-2-mobile-font-family);
  font-size: var(--heading-2-mobile-font-size);
  font-style: var(--heading-2-mobile-font-style);
  font-weight: var(--heading-2-mobile-font-weight);
  left: 0;
  letter-spacing: var(--heading-2-mobile-letter-spacing);
  line-height: var(--heading-2-mobile-line-height);
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 216px;
}

.profile-page-mobile .healthicons-ui-user {
  height: 25px;
  left: 213px;
  position: absolute;
  top: 9px;
  width: 24px;
}

.profile-page-mobile .iconamoon-menu {
  height: 23px;
  left: 26px;
  position: absolute;
  top: 25px;
  width: 24px;
}

.profile-page-mobile .alarm-bell {
  height: 24px;
  left: 334px;
  position: absolute;
  top: 29px;
  width: 24px;
}

.profile-page-mobile .octicon-sign-out {
  height: 18px;
  left: 380px;
  position: absolute;
  top: 31px;
  width: 20px;
}

.profile-page-mobile .pro-pic-large {
  height: 191px;
  left: 88px;
  position: absolute;
  top: 162px;
  width: 173px;
}

.profile-page-mobile .vector-2 {
  height: 28px;
  left: 475px;
  position: absolute;
  top: 75px;
  width: 31px;
}

.profile-page-mobile .text-wrapper-78 {
  color: #ffffff;
  font-family: var(--heading-1-mobile-font-family);
  font-size: var(--heading-1-mobile-font-size);
  font-style: var(--heading-1-mobile-font-style);
  font-weight: var(--heading-1-mobile-font-weight);
  height: 40px;
  left: 299px;
  letter-spacing: var(--heading-1-mobile-letter-spacing);
  line-height: var(--heading-1-mobile-line-height);
  position: absolute;
  top: 247px;
  white-space: nowrap;
  width: 177px;
}
