/* Enter ur details */

.passenger-details-container {
  max-height: 400px; /* Set the desired maximum height */
  overflow-y: auto; /* Enable vertical scrolling when content overflows */
  scroll-snap-type: y mandatory; /* Enable scroll snapping */
}

.booking-category {
  color: #cb559e;
  font-size: 20px;
  margin-bottom: 5%;
}

.enter-details {
  position: relative;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 60px;
  color: #e3e3e3;
  font-family: "Urbanist", sans-serif;
}

.section-heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #cb559e;
  margin-bottom: 20px;
}

.detail-item {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 20px;
}

.detail-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 16px;
  color: #e3e3e3;
  margin-right: 10px; /* Add margin to the right to create spacing from the NumberSpinner */
}

.passenger-dropdown {
  width: 100px;
  padding: 6px;
  font-size: 16px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #333; /* Text color for the dropdown button */
}

.passenger-dropdown option {
  color: #333; /* Text color for the dropdown options */
}

@media (max-width: 768px) {
  /* ... (existing media query styles) */

  .passenger-dropdown {
    width: 80px;
    padding: 4px;
    font-size: 14px;
  }

  .passenger-dropdown option {
    font-size: 14px;
  }
}

.warning-booking {
  font-size: 12px;
  margin: 5%;
  color: #dcc257;
}
