/* search.css */
.search-main {
  position: relative;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  color: #e3e3e3;
  font-family: "Urbanist", sans-serif;
}

.search-container {
  align-items: center;
  justify-content: space-between;
  display: inline-block;
  position: relative;
  border: none;
  width: 90%;
  border: none;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5);

}

.search-input {
  position: absolute;

  flex: 1; /* Take remaining space */
  margin: 0 10px; /* Add left margin */
  width: 70%;
  height: 60px;
  border: none;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0);
  font-size: 24px;
  color: white;
  position: relative;
}

.search-input::placeholder {

  font-family: "Urbanist", sans-serif;
}

.search-input:focus {
  font-family: "Urbanist", sans-serif;
  border-color: transparent;
}

.search-icon,
.filter-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  color: #cb559e;
}

.search-icon {
  left: 5%;
}

.filter-icon {
  right: 5%;
}

.filter-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  width: 200px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  z-index: 1;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.filter-dropdown.active {
  opacity: 1;
  transform: translateY(0);
}

.filter-dropdown ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.filter-dropdown li {
  padding: 10px;
  cursor: pointer;
  color: black;
}

.filter-dropdown li:hover {
  background-color: #f5f5f5;
  border-radius: 10px;
}
